@inherits LayoutComponentBase
@inject AuthMockService AuthService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="me-3">Bienvenido, @AuthService.CurrentUser</span>
            <a href="/logout" class="btn btn-link">Cerrar Sesión</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>