<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Bienvenido, Usuario</span>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/promocion">
                <span class="oi oi-badge" aria-hidden="true"></span> Promoción
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/perfil">
                <span class="oi oi-person" aria-hidden="true"></span> Perfil
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}